* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}




.header {
    height: 60vh;
    background-color: beige;
}

.header2 {
    height: 80vh;

    background-image: url('https://wallpapercave.com/wp/86ZJsoQ.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}





/*----------------------PAGINA DELLE CARD ----------------------------------------------------------------------------------- */


.card .row {
    display: flex;
}

.card .col-md-4 {
    flex: 1 0 100%;
    /* Aumenta la larghezza della colonna dell'immagine */
}

.card .col-md-8 {
    flex: 1 0 100%;
    /* Aumenta ulteriormente la larghezza della colonna del testo */
}


.card-body {
    padding: 1.5rem;
    /* Distanza più ampia tra il bordo della card e il contenuto */
}