* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}




.header {
    height: 60vh;
    background-color: beige;
}

.header2 {
    height: 80vh;

    background-image: url('https://wallpapercave.com/wp/86ZJsoQ.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}